* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-page{
  display: flex;
}
.icons{
  margin-right:10px;
 color:#ffffff;
}
.rawg{
  margin-right: 3%;
  margin-left: 10px;
  width:10%;
  font-weight: bold;
  text-decoration: none;
  color:#ffffff;
}
.genres{
  text-decoration: none;
  color:#ffffff;
}
.home-head{
  color:#ffffff;
  text-decoration: none;
}